@import "../Vars.scss";

.blogSection {
	width: 100vw;
	min-height: 100vh;
	content: "";
	position: relative;
	background: $darkGreen;
	padding-top: 10px;
	padding-bottom: 100px;
	@media (max-width: 1024px) {
		padding-bottom: 0;
	}

	.centerSection {
		position: relative;
		max-width: 1700px;
		@media (max-width: 1024px) {
			padding: 50px;
		}
		.arrow-container {
			position: absolute;
			top: -25px;
			left: 150px;
			transform: rotate(90deg);
			@media (max-width: 1440px) {
				top: -35px;

				@media (max-width: 1024px) {
					top: 175px;
					left: 100px;
					@media (max-width: 768px) {
						top: 50px;
						width: 50px;
						left: 0;
						.arrow {
							height: 50px;
							transform: translateX(50%);
						}
					}
				}
			}
		}

		h1 {
			width: 70%;
			font-size: 80px;
			line-height: 125%;
			margin: 150px auto 120px;
			color: $green;
			text-align: center;
			span {
				color: #fff;
			}
			@media (max-width: 1440px) {
				font-size: 60px;
				@media (max-width: 768px) {
					font-size: 40px;
					margin: 50px auto 100px;
					@media (max-width: 375px) {
						font-size: 30px;
					}
				}
			}
		}
		.colCenter {
			max-width: 820px;
			margin: 0 auto;
			display: flex;
			flex-direction: column;

			.blogImg {
				width: 100%;
				height: 520px;
				margin-bottom: 50px;
				object-fit: cover;
				transition: 0.3s;
				@media (max-width: 1024px) {
					margin-bottom: 40px;
				}
			}
			.properties {
				display: flex;
				justify-content: space-evenly;
				background: $green;
				margin-bottom: 150px;
				@media (max-width: 768px) {
					flex-direction: column;
					align-items: center;
				}
				.white {
					color: #fff;
					line-height: 70px;
					margin-bottom: 0;
				}
			}
			h2 {
				margin-bottom: 30px;
			}
			.white {
				color: #fff;
				margin-bottom: 30px;
			}
		}
	}
}

.articleColCenter {
	max-width: 820px;
	margin: 0 auto;
	display: flex;
	flex-direction: column;
	.blogImg {
		width: 100%;
		height: 520px;
		margin-bottom: 50px;
		object-fit: cover;
		transition: 0.3s;
		@media (max-width: 1024px) {
			margin-bottom: 40px;
		}
	}
	h1 {
		margin: 30px 0 !important;
	}
	.properties {
		display: flex;
		justify-content: space-evenly;
	}
	.white {
		color: #fff;
		margin-bottom: 50px;
		line-height: 200%;
	}
}
